@model MobLoot.WebMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2 class="titles">Register</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="boxtext">Gain access to the application's features!</h4>
    <hr />
        <div class="col-md-5 col-md-offset-3">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group boxtext">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group boxtext">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                <div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group boxtext">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" class="btn button" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    body {
        text-align: center;
    }

    .centerbox {
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
</style>