@model MobLoot.Models.Loot.LootDetails

@{
    ViewBag.Title = "Details";
}

<div>
    <h4 class="titles">Loot Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="boxtext">
            @Html.DisplayNameFor(model => model.LootName)
        </dt>

        <dd class="boxtext" style="text-align: left;">
            @Html.DisplayFor(model => model.LootName)
        </dd>
        <hr />
        <dt class="boxtext">
            @Html.DisplayNameFor(model => model.LootDesc)
        </dt>

        <dd class="boxtext" style="text-align: left;">
            @Html.DisplayFor(model => model.LootDesc)
        </dd>
        <hr />
        <dt class="boxtext">
            @Html.DisplayNameFor(model => model.MonsterName)
        </dt>

        <dd class="boxtext" style="text-align: left;">
            @Html.DisplayFor(model => model.MonsterName)
        </dd>
        <hr />
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LootId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
