@model IEnumerable<MobLoot.Models.Loot.LootListItem>

@{
    ViewBag.Title = "Index";
}

<br />
<br />

<p><a class="btn button" href="~/Loot/Create">Create New</a></p>

<br />

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table header-text" style="font-size: 35px; color: #6df648;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LootName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LootDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonsterName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table-font">
            <td>
                @Html.DisplayFor(modelItem => item.LootName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LootDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonsterName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LootId }) |
                @Html.ActionLink("Details", "Details", new { id = item.LootId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LootId })
            <td>
        </tr>
    }
</table>

<hr />

<div class="row" id="content">

    <div class="col-md-6">
        <h2 class="titles">Loots</h2>
        <p class="description">
            This is your loot page! Once you've created some monsters, you can give them some unique loot here! Give the loot a name, description, and then finally assign it to one of your monsters!
        </p>
    </div>

    <div class="col-md-6" style="text-align: center;">
        <img src="~/Content/assets/helmet.png" style="text-align: center; width: 300px; height: 300px;" />
    </div>
</div>
